doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="style.css")
body
  header.header-conainer
    .container
      nav.navbar.navbar-expand-sm.bg-info.navbar-light.fixed-top
        
        li.list-ul: a(href="#")
          i.fas.fa-bars
        
        li.list-ul.line |

        img.img-fluid.img-logo(src="img/white-logo.webp", alt="Logo Peru 21")

        img.img-flui.img-sublogo(src="img/otorongo.webp", alt="Logo Otorongo")

        li.list-ul: a(href="#")
          i.fas.fa-user-circle

      .contenedor-news

        h1.title-news economía

        img.img-news(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="Imagen Noticia")

        a.link-news(href="#") economia
          
          
        

        




























  script(src="js/jquery-3.2.1.slim.min.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="fontawesome/fontawesome-free-5.8.2-web/js/all.min.js")