doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="style.css")
body
  .container.px-0.px-md-4
    header.header-conainer
      nav.navbar.navbar-expand-sm.navbar-expand-md.bg-info.navbar-light.fixed-top
        
        li.list-ul: a(href="#")
          i.fas.fa-bars
          span.list-ul-text Menú

        
        
        li.list-ul.line |

        a(href="#"): img.img-fluid.img-logo(src="img/white-logo.webp", alt="Logo Peru 21")

        a(href="#"): img.img-flui.img-sublogo(src="img/otorongo.webp", alt="Logo Otorongo")

        li.list-ul: a(href="#")
          i.fas.fa-user-circle
      
      ul.contenedor-list
        li.c__list hoy interesa

        a.c__list_a(href="#") lo último

        li.c-list |

        a.c__list_a(href="#") venezuela

        li.c-list |

        a.c__list_a(href="#") keiko fujimori

        li.c-list |

        a.c__list_a(href="#") venezuela


      

    .contenedor-news.news

      h2.title-news economía
          
      img.img-news(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="Imagen Noticia")

      .c-news__text
        a.link-news(href="#") economia
        h3.title-news__text minsa anuncia primera transferencia de s/395.8 millones para financiar aseguramiento universal.
        a.link--news(href="#") redacción perú21

    .contenedor-news
  
      img.img-news(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="Imagen Noticia")

      .c-news__text
        a.link-news(href="#") economia
        h3.title-news__text minsa anuncia primera transferencia de s/395.8 millones para financiar aseguramiento universal.
        a.link--news(href="#") redacción perú21

    .contenedor-news
  
      img.img-news(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="Imagen Noticia")

      .c-news__text
        a.link-news(href="#") economia
        h3.title-news__text minsa anuncia primera transferencia de s/395.8 millones para financiar aseguramiento universal.
        a.link--news(href="#") redacción perú21

    .contenedor-news
  
      img.img-news(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="Imagen Noticia")

      .c-news__text
        a.link-news(href="#") economia
        h3.title-news__text minsa anuncia primera transferencia de s/395.8 millones para financiar aseguramiento universal.
        a.link--news(href="#") redacción perú21
    
          
          
        

        




























  script(src="js/jquery-3.2.1.slim.min.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="fontawesome/fontawesome-free-5.8.2-web/js/all.min.js")